body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    min-width: 450px;
    max-width: 450px;
    max-height: 450px;
    min-height: 450px;
    border: 1px solid rgba(112, 128, 144, 0.4);
}

button {
    margin: 8px;
    font-size: 14px;
}

div {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex: 1;
}

div.divWidth {
    display: flex;
    flex-direction: column;
}

div.hovered { 
    background-color: rgba(0, 0, 0, 0.1)
}

div.clicked {
    background-color: rgba(0, 0, 0, 0.5);;
}